# Pandas DateTimeIndex Functionality

In [2]:
import pandas as pd
import numpy as mp

In [3]:
df = pd.read_csv('E:\docs and imp.videos\AI video in hindi from yt\machine learning\dataset\STUDENT_10.csv')

In [5]:
df

         Date  Student ID  Class  Study hrs  Percentage
0  01-04-2022        1001     10          2          50
1  02-04-2022        1002     10          4          80
2  03-04-2022        1003     10          3          60
3  06-04-2022        1004     11          0          75
4  07-04-2022        1005     11          4          85
5  08-04-2022        1006     11         10          55
6  09-04-2022        1007     12          4          80
7  10-04-2022        1008     12          5          90
8  11-04-2022        1009     12          9          60
9  12-04-2022        1010     12          6          85

In [8]:
df.dtypes

Date          object
Student ID     int64
Class          int64
Study hrs      int64
Percentage     int64
dtype: object

In [9]:
type(df.Date[0])

str

In [13]:
df = pd.read_csv('E:\docs and imp.videos\AI video in hindi from yt\machine learning\dataset\STUDENT_10.csv',
                 parse_dates = ['Date'])
df

        Date  Student ID  Class  Study hrs  Percentage
0 2022-01-04        1001     10          2          50
1 2022-02-04        1002     10          4          80
2 2022-03-04        1003     10          3          60
3 2022-06-04        1004     11          0          75
4 2022-07-04        1005     11          4          85
5 2022-08-04        1006     11         10          55
6 2022-09-04        1007     12          4          80
7 2022-10-04        1008     12          5          90
8 2022-11-04        1009     12          9          60
9 2022-12-04        1010     12          6          85

In [ ]:
type(df.Date)