In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.3'

In [3]:
list_s = [1,2,-6,5.2,'data values']
print(list_s)

[1, 2, -6, 5.2, 'data values']

In [4]:
series1 = pd.Series(list_s) 
print(series1)

0              1
1              2
2             -6
3            5.2
4    data values
dtype: object

In [5]:
type(series1)

pandas.core.series.Series

In [6]:
series2=pd.Series([1,32,4,856,5])
print(series2)

0      1
1     32
2      4
3    856
4      5
dtype: int64

In [7]:
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: float64)

<ipython-input-7-4d32fcf5dfe7>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s = pd.Series([])

In [8]:
series3 = pd.Series([1,2,3,4],index = ['a','b','c','d'])
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
series3 = pd.Series([1,2,3,4],index = ['a','b','c','d'],dtype = float, name = 'data values')
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

In [10]:
scalar_s = pd.Series(6)

In [11]:
print(scalar_s)

0    6
dtype: int64

In [12]:
scalor_s = pd.Series(6, index = [1,2,4,6])
print(scalor_s)

1    6
2    6
4    6
6    6
dtype: int64

In [13]:
dict_s = pd.Series({'a':2,'b':4,"c":3})
print(dict_s)

a    2
b    4
c    3
dtype: int64

In [14]:
S4=pd.Series([1,2,4,543,3,32,23,53,56,8])
print(S4)

0      1
1      2
2      4
3    543
4      3
5     32
6     23
7     53
8     56
9      8
dtype: int64

In [15]:
S4[0]

1

In [16]:
S4[7]

53

In [17]:
S4[2:6]

2      4
3    543
4      3
5     32
dtype: int64

In [18]:
max(S4)

543

In [19]:
min(S4)

1

In [20]:
S4[S4>3]

2      4
3    543
5     32
6     23
7     53
8     56
9      8
dtype: int64

In [21]:
S4[S4>45]

3    543
7     53
8     56
dtype: int64

In [22]:
S5 = pd.Series([98,4,8,5,5,7,8,65,45,52])

In [23]:
print(S5)

0    98
1     4
2     8
3     5
4     5
5     7
6     8
7    65
8    45
9    52
dtype: int64

In [24]:
S4+S5

0     99
1      6
2     12
3    548
4      8
5     39
6     31
7    118
8    101
9     60
dtype: int64

In [25]:
S4*S5

0      98
1       8
2      32
3    2715
4      15
5     224
6     184
7    3445
8    2520
9     416
dtype: int64