# Handling Missing Values in Python # 2

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('E:\docs and imp.videos\AI video in hindi from yt\machine learning\dataset\student_result.csv')

In [3]:
df

   studentid  class  english  maths  science  hindi  total percentage
0           A  10th       41     58       82     42    223     55.75%
1           B  10th       52     56       75     72    255     63.75%
2           C   NaN       65     75       58     53    251     62.75%
3           D   NaN       56     55       53     65    229     57.25%
4           E  10th       85     45       63     48    241     60.25%
5           F  10th       90     52       61     50    253        NaN
6           G  10th       85     58       50     86    279        NaN
7           H  10th       65     69       80     75    289        NaN
8           I  10th       75     67       90     70    302     75.50%
9           J  10th       52     76       70     60    258     64.50%
10          K  10th       35     42       40     40    157     39.25%
11          L  10th       45     39       80     80    244     61.00%

In [4]:
df.isnull()

    studentid   class  english  maths  science  hindi  total  percentage
0        False  False    False  False    False  False  False       False
1        False  False    False  False    False  False  False       False
2        False   True    False  False    False  False  False       False
3        False   True    False  False    False  False  False       False
4        False  False    False  False    False  False  False       False
5        False  False    False  False    False  False  False        True
6        False  False    False  False    False  False  False        True
7        False  False    False  False    False  False  False        True
8        False  False    False  False    False  False  False       False
9        False  False    False  False    False  False  False       False
10       False  False    False  False    False  False  False       False
11       False  False    False  False    False  False  False       False

In [5]:
df.isnull().sum()

studentid     0
class         2
english       0
maths         0
science       0
hindi         0
total         0
percentage    3
dtype: int64

In [6]:
df.isnull().sum().sum()

5

In [7]:
df.notnull().sum().sum()

91

In [8]:
df.notnull()

    studentid   class  english  maths  science  hindi  total  percentage
0         True   True     True   True     True   True   True        True
1         True   True     True   True     True   True   True        True
2         True  False     True   True     True   True   True        True
3         True  False     True   True     True   True   True        True
4         True   True     True   True     True   True   True        True
5         True   True     True   True     True   True   True       False
6         True   True     True   True     True   True   True       False
7         True   True     True   True     True   True   True       False
8         True   True     True   True     True   True   True        True
9         True   True     True   True     True   True   True        True
10        True   True     True   True     True   True   True        True
11        True   True     True   True     True   True   True        True

In [9]:
df.notnull().sum()

studentid     12
class         10
english       12
maths         12
science       12
hindi         12
total         12
percentage     9
dtype: int64

In [10]:
#Series
sr = pd.Series([1,2,3,np.nan,4,np.NAN])
sr

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    NaN
dtype: float64

In [11]:
sr.isnull()

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

In [12]:
sr.isnull().sum()

2

In [13]:
sr.isnull().sum().sum()

2

In [14]:
sr.notnull()

0     True
1     True
2     True
3    False
4     True
5    False
dtype: bool

In [15]:
sr.notnull().sum()

4

In [16]:
sr.notnull().sum().sum()

4