# How To Create Python Pandas Dataframe

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.3'

In [3]:
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [4]:
lst = ['a','b','c']
print(lst)

['a', 'b', 'c']

In [5]:
df1 = pd.DataFrame(lst)

In [6]:
print(df1)

   0
0  a
1  b
2  c

In [7]:
df1

   0
0  a
1  b
2  c

In [8]:
ls_of_ls = [[1,2,3,],[4,5,6],[7,8,9]]
print(ls_of_ls)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [9]:
df2 = pd.DataFrame(ls_of_ls)
print(df2)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
dict1 = {'ID':[12,45,32,65,87]}
print(dict1)

{'ID': [12, 45, 32, 65, 87]}

In [11]:
df3 = pd.DataFrame(dict1)
print(df3)

   ID
0  12
1  45
2  32
3  65
4  87

In [12]:
dict1 = {'ID':[12,45,32,65,87],'SN':[14,51,63,85,95]}
print(dict1)

{'ID': [12, 45, 32, 65, 87], 'SN': [14, 51, 63, 85, 95]}

In [13]:
df4 = pd.DataFrame(dict1)
print(df4)

   ID  SN
0  12  14
1  45  51
2  32  63
3  65  85
4  87  95

In [14]:
ls_dict=[{'a':1,'b':5},{'a':3,'b':34}]
print(ls_dict)

[{'a': 1, 'b': 5}, {'a': 3, 'b': 34}]

In [15]:
df5 = pd.DataFrame(ls_dict)
print(df5)

   a   b
0  1   5
1  3  34

In [16]:
ls_dict=[{'a':1,'b':5},{'a':3,'b':34,'c':324}]
print(ls_dict)

[{'a': 1, 'b': 5}, {'a': 3, 'b': 34, 'c': 324}]

In [17]:
df6 = pd.DataFrame(ls_dict)
print(df6)

   a   b      c
0  1   5    NaN
1  3  34  324.0

In [18]:
dict5 = {'ID':pd.Series([12,45,32,65,87]),'SN':pd.Series([14,51,63,85,95])}
# print(dict5)
df7 = pd.DataFrame(dict5)
print(df7)

   ID  SN
0  12  14
1  45  51
2  32  63
3  65  85
4  87  95